<app-menu-bar></app-menu-bar>

<p-table [value]="reservas">
  <ng-template pTemplate="caption">
    Reservas
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th>Pelicula</th>
      <th>Fecha Pelicula</th>
      <th>Horario</th>
      <th>Sala</th>
      <th>Asientos</th>
      <th>Fecha Reservación</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-reserva>
    <tr>
      <td>{{reserva.funcion.pelicula.titulo}}</td>
      <td>{{reserva.funcion.fecha}}</td>
      <td>{{reserva.funcion.horario}}</td>
      <td>{{reserva.funcion.sala.nombre}}</td>
      <td>
        <span *ngFor="let butaca of reserva.butacas">
          Fila: {{butaca.fila}}, Columna: {{butaca.columna}} <br>
        </span>
      </td>
      <td>{{reserva.fecha.replace('T', ' ')}}</td>
    </tr>
  </ng-template>
</p-table>
